body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;

    /* container의 크기에 따라 작아지거나 커진다 */
    flex-direction: column;
    
    /* 주축의 컨텐츠 정렬 */
    justify-content: center;
    
    /* 요소배치 강제성 */
    flex-wrap: wrap-reverse;

    /* 교차축의 컨텐츠 정렬 */
    align-items: flex-start;
}

#container div {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 4em;
}

#container div:nth-of-type(4) {
    font-size: 6em;
}