section {
    background-color: #CB997E;
    width: 800px;
    height: 800px;
}

div {
    background-color: #FEC5BB;
    width: 20%;
    height: 30%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

h2 {
    font-size: 5em;
    margin-left: 1em;
}

h3 {
    font-size: 1.5em;
}


p {
    font-size: 1em;
}

article {
    font-size: 10px;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #2a9bf2;
    color: white;
}