div {
    width: 200px;
    height: 200px;
    background-color: #fae1dd;
}

h1 {
    background-color: pink;
}

#one {
    background-color: rgb(52, 183, 94);
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
}

#two {
    background-color: #2787ad;
    border-color: saddlebrown;
    border-width: 5px;
    border-style: dashed;
    box-sizing: border-box;
    border-left-width: 8px;
    
}

#three {
    background-color: rgb(168, 90, 114);
    border: solid slateblue 5px;
    box-sizing: border-box;
    border-radius: 50%;
}