h1 {
    text-align: center;
    text-decoration: #3939FF underline wavy;
    font-size: 80px;
    font-family: sans-serif;
}

h2 {
    text-align: center;
}

p {
    font-weight: 400;
    line-height: 2;
    letter-spacing: 1.5px;
  
}

a {
    text-decoration: none;
}